.main-block,
.ticket {
  background: rgb(255, 255, 255);
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 1px grey;
}

.main-block {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ticket {
  cursor: pointer;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: table;
}

.ticket:hover {
  box-shadow: 0px 0px 2px rgb(0, 123, 255);
}

.trip-type {
  padding-top: 1em;
}

.btn,
.form-control,
.upper-case {
  text-transform: uppercase;
}

.search-button-wrapper {
  text-align: center;
}

.btn {
  width: 100%;
}

.search-button-wrapper {
  padding-top: 1em;
}

.row-item,
.airport {
  margin-bottom: 1em;
}

.transparent-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.inline {
  display: inline-block;
}

.separator {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.time,
.airline {
  max-width: 110px;
}

.airline-code,
.stop-quantity-number,
.price-number,
.price-code {
  margin-right: 0.25em;
}

.price-ticket {
  margin-top: 1.5em;
  padding: 1em;
  padding-left: 1.5em;
  min-width: 130px;
  color: rgb(0, 123, 255);
  display: table-cell;
  vertical-align: middle;
}

.flight-info {
  width: 525px;
}

.airline-number,
.stop-quantity-name {
  margin-left: 0.25em;
}

.bold {
  font-weight: bold;
}

.stop-quantity {
  vertical-align: top;
}

.open-modal {
  float: right;
}

.item-input,
.btn {
  border-radius: 0px;
}

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.open-modal {
  vertical-align: top;
  display: table;
}

.second-line {
  color: gray;
}

hr {
  border-color: none;
}

.hidden {
  visibility: hidden;
}

.aircraft-name {
  font-weight: bold;
  color: rgb(0, 123, 255);
}

.not-found {
  text-align: center;
  margin: 0 auto;
}

.loader {
  margin-top: 1em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  border-top: 2px solid rgb(0, 123, 255);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
